table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-bottom: 20px;
}
body {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
    font-family: Arial, sans-serif;
}
h2 {
    font-family: Arial;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
}
label {
    width: 150px;
    display: block;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}
td {
    word-wrap: break-word;
    max-width: 500px;
}
select, input[type="text"], input[type="number"]{
    width: 200px;
    box-sizing: border-box;
}

form input,
form textarea,
form select {
    width: 300px;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}